CREATE TABLE IF NOT EXISTS order_email_events ( id uuid PRIMARY KEY DEFAULT gen_random_uuid(), order_id uuid NOT NULL, email_type text NOT NULL, status text DEFAULT 'sent', created_at timestamptz DEFAULT now(), UNIQUE(order_id, email_type) ); ALTER TABLE orders ADD COLUMN IF NOT EXISTS marketing_opt_in BOOLEAN DEFAULT false; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS marketing_opt_in BOOLEAN DEFAULT false; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS first_name text; ALTER TABLE profiles ADD COLUMN IF NOT EXISTS last_name text;
